<mui-container fluid>
    <mui-row>
      <mui-col sm="10" sm-offset="1">
  
        <h1>Angular Tabs</h1>
  
        <h2>Default Tabs</h2>
        <mui-panel>
          <div id="example-tabs-default">
            <mui-tabs>
                <mui-tab tabId="1" label="Tab 1">Pane-1</mui-tab>
                <mui-tab tabId="2" label="Tab 2" active>Pane-2</mui-tab>
                <mui-tab tabId="3"   label="Tab 3">Pane-3</mui-tab>
              </mui-tabs>
          </div>
        </mui-panel>
  
      </mui-col>
    </mui-row>
  </mui-container>