<mui-container fluid>
    <mui-row>
        <mui-col sm="10" sm-offset="1">

            <h1>Angular Dividers</h1>

            <h2>Default divider</h2>
            <mui-panel>
                <div>Content 1</div>
                <mui-divider></mui-divider>
                <div>Content 2</div>
            </mui-panel>

            <h2>Top divider</h2>
            <mui-panel>
                <div>Content 1</div>
                <div class="mui--divider-top">Content 2</div>
            </mui-panel>

            <h2>Bottom divider</h2>
            <mui-panel>
                <div class="mui--divider-bottom">Content 1</div>
                <div>Content 2</div>
            </mui-panel>

            <h2>Left divider</h2>
            <mui-panel>
                <span>Content 1</span>
                <span class="mui--divider-left">&nbsp;Content 2</span>
            </mui-panel>

            <h2>Right divider</h2>
            <mui-panel>
                <span class="mui--divider-right">Content 1&nbsp;</span>
                <span>Content 2</span>
            </mui-panel>
        </mui-col>
    </mui-row>
</mui-container>