
    <h1>Grid: Stacked-to-horizontal</h1>
    <mui-panel>
      <mui-container fluid>
        <mui-row>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
          <mui-col md="1">md-1</mui-col>
        </mui-row>
        <mui-row>
          <mui-col md="8">md-8</mui-col>
          <mui-col md="4">md-4</mui-col>
        </mui-row>
        <mui-row>
          <mui-col md="4">md-4</mui-col>
          <mui-col md="4">md-4</mui-col>
          <mui-col md="4">md-4</mui-col>
        </mui-row>
        <mui-row>
          <mui-col md="6">md-6</mui-col>
          <mui-col md="6">md-6</mui-col>
        </mui-row>
      </mui-container>
    </mui-panel>
  
    <h1>Grid: Mobile and Desktop</h1>
    <mui-panel>
      <mui-container fluid>
        <mui-row>
          <mui-col xs="12" md="8">xs-12 md-8</mui-col>
          <mui-col xs="6" md="4">xs-6 md-4</mui-col>
        </mui-row>
        <mui-row>
          <mui-col xs="6" md="4">xs-6 md-4</mui-col>
          <mui-col xs="6" md="4">xs-6 md-4</mui-col>
          <mui-col xs="6" md="4">xs-6 md-4</mui-col>
        </mui-row>
        <mui-row>
          <mui-col xs="6">xs-6</mui-col>
          <mui-col xs="6">xs-6</mui-col>
        </mui-row>
      </mui-container>
    </mui-panel>
  
    <h1>Grid: Offsetting columns</h1>
    <mui-panel>
      <mui-container fluid>
        <mui-row>
          <mui-col md="4">md-4</mui-col>
          <mui-col md="4" md-offset="4">md-4 md-offset-4</mui-col>
        </mui-row>
        <mui-row>
          <mui-col md="3" md-offset="3">md-3 md-offset-3</mui-col>
          <mui-col md="3" md-offset="3">md-3 md-offset-3</mui-col>
        </mui-row>
        <mui-row>
          <mui-col md="6" md-offset="3">md-6 md-offset-3</mui-col>
        </mui-row>
      </mui-container>
    </mui-panel>
  