<mui-container fluid>
	<mui-row>
		<mui-col sm="10" sm-offset="1">
			<h1>Overlay</h1>
			<h2>Simple overlay</h2>
			<mui-panel>
				<mui-button color="primary" variant="raised" (click)="showDialog = !showDialog">Open</mui-button>
			</mui-panel>
			<mui-overlay [(visible)]="showDialog">
				<h1>Hello World</h1>
				<mui-button variant="flat" color="accent" (click)="showDialog = !showDialog">Close</mui-button>
			</mui-overlay>

			<h2>Template overlay</h2>
			<mui-panel>
				<mui-button color="primary" variant="raised" (click)="open(tpl)">Open</mui-button>
				<ng-template #tpl>
					<div>
					  <p>A simple template based modal</p>
					  <mui-button color="primary" variant="raised" (click)="close($event)">Close</mui-button>
					</div>
				  </ng-template>
			</mui-panel>
		</mui-col>
	</mui-row>
</mui-container>