<mui-container fluid>
	<mui-row>
		<mui-col sm="10" sm-offset="1">
			<h1>Overlay</h1>
			<h2>Blocking overlay - does not close on backdrop click</h2>
			<mui-panel>
				<mui-button color="primary" variant="raised" (click)="openModal('modal-1');">Open</mui-button>
			</mui-panel>
			<mui-modal id="modal-1" [blocking]="true">
				<h1>Hello World 1</h1>
				<mui-button variant="flat" color="danger" (click)="closeModal('modal-1');">Close</mui-button>
			</mui-modal>

			<h2>Non-blocking (default) overlay - closes on backdrop click</h2>
			<mui-panel>
				<mui-button color="primary" variant="raised" (click)="openModal('modal-2');">Open</mui-button>
			</mui-panel>
			<mui-modal id="modal-2">
				<h1>Hello World 2</h1>
				<p>Just click anywhere outside this dialog to close the modal.</p>
			</mui-modal>
		</mui-col>
	</mui-row>
</mui-container>