<mui-container fluid>
    <mui-row>
      <mui-col sm="10" sm-offset="1">
        <h1>Container</h1>
        <h2>Fixed Container</h2>
        <p>To wrap your content in a responsive container use the <code>&lt;mui-container&gt;</code> element:</p>
        <mui-panel>
          <pre>
              <span>&lt;</span><span>mui-container</span><span>&gt;</span>
              <span>&lt;!--</span>
  
  
              <span>Container is centered on page with 15px of</span>
              <span>padding on either side. The inner width is</span>
              <span>fluid for small viewports and has a max</span>
              <span>width for larger dimensions:</span>
              <span>* 570px (≥ 544px)</span>
              <span>* 740px (≥ 768px)</span>
              <span>* 960px (≥ 992px)</span>
              <span>* 1170px (≥ 1200px)</span>
  
              <span>--&gt;</span>
              <span>&lt;/</span><span>mui-container</span><span>&gt;</span>
            </pre>
        </mui-panel>
  
        <h2>Fluid Container</h2>
        <p>To wrap your content in a fluid container add a <code>fluid</code> attribute:</p>
        <mui-panel>
          <pre>
            <span>&lt;</span><span>mui-container fluid</span><span>&gt;</span>
            <span>&lt;!--</span>
  
            <span>Container is centered on page with 15px of</span>
            <span>padding on either side. The inner width is</span>
            <span>fluid for all viewport widths.</span>
            
            <span>--&gt;</span>
            <span>&lt;/</span><span>mui-container</span><span>&gt;</span>
          </pre>
        </mui-panel>
      </mui-col>
    </mui-row>
  </mui-container>