  <mui-appbar class="mui--text-center mui--align-middle" style="margin-bottom: 20px;">
  <a routerLink="appbar"><mui-button color="primary">Appbar</mui-button></a>
  <a routerLink="button"><mui-button color="primary">Buttons</mui-button></a>
  <a routerLink="container"><mui-button color="primary">Container</mui-button></a>
  <a routerLink="divider"><mui-button color="primary">Dividers</mui-button></a>
  <a routerLink="dropdown"><mui-button color="primary">Dropdowns</mui-button></a>
  <a routerLink="form"><mui-button color="primary">Forms</mui-button></a>
  <a routerLink="grid"><mui-button color="primary">Grid</mui-button></a>
  <a routerLink="panel"><mui-button color="primary">Panels</mui-button></a>
  <a routerLink="tab"><mui-button color="primary">Tabs</mui-button></a>
</mui-appbar>

<mui-container fluid>
  <router-outlet></router-outlet>
</mui-container>

<footer>
  <mui-container class="mui--text-center">
    Made with ♥ by <a href="https://www.muicss.com">MUICSS</a>
  </mui-container>
</footer>
