<h1>Angular Dividers</h1>
<h2>Default divider</h2>
<div>Content 1</div>
<mui-divider></mui-divider>
<div>Content 2</div>

<h2>Top divider</h2>
<div>Content 1</div>
<div class="mui--divider-top">Content 2</div>

<h2>Bottom divider</h2>
<div class="mui--divider-bottom">Content 1</div>
<div>Content 2</div>

<h2>Left divider</h2>
<span>Content 1</span>
<span class="mui--divider-left">&nbsp;Content 2</span>

<h2>Right divider</h2>
<span class="mui--divider-right">Content 1&nbsp;</span>
<span>Content 2</span>